@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica";
    src: url("./fonts/Helvetica.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("./fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("./fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
* {
    outline: 1px solid red;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

:where(ul, ol):where([class]) {
    padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}
:where(ul[class]) {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

input,
textarea,
select,
button {
    font: inherit;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    line-height: 1.5;
    font-family: var(--font-family);
    background-color: var(--color-dark);
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --color-inchworm: #e5ff76;
    --color-dark-accent: #242424;
    --color-dark: #121212;
    --color-light: #ffffff;
    --color-light-alternate: #f7f7f7;
    --color-gray: #8f8f8f;
    --color-button: #1f19e1;

    --border-radius: 1000px;
    --border: 1px solid;

    --font-family: "Inter", sans-serif;
    --second-family: "Helvetica Neue", sans-serif;
    --third-family: "Helvetica", sans-serif;

    --container-width: 1132px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;

    --header-height: 75px;
}

/*h2,h3,h4,h5,h6 */

svg *[fill] {
    fill: currentColor;
}
svg *[stroke] {
    stroke: currentColor;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

svg * {
    transition-property: fill, stroke;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--color-gray);
}

p {
    margin-block: 0;
}
.content {
    margin: 0;
}

.button {
    display: inline-flex;
    height: 44px;
    align-items: center;
    padding-inline: 24px;
    font-family: var(--font-family);
    background-color: var(--color-dark);
    font-size: 17px;
    white-space: nowrap;
    font-weight: 400;
    color: #f0f0f0;
    border-radius: var(--border-radius);
    line-height: 2;
    border: none;
}

.button:hover {
    background-color: var(--color-gray);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-wide {
    max-width: 1425px;
    margin-inline: auto;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.header_menu {
    margin-left: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-inchworm);
    width: 100%;
    height: 75px;
    min-height: var(--header-height);
    column-gap: 20px;
    align-items: center;
    padding-inline: 48px;
}

.header_logo {
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    align-items: center;
}

.header-menu-link {
    font-weight: 400;
    display: inline-flex;
    height: 44px;
    align-items: center;
    font-size: 17px;
    line-height: 23px;
    color: var(--color-dark);
    text-decoration: none;
    letter-spacing: 0px;
}
.header_actions {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-left: 8px;
    white-space: nowrap;
}

.header_actions::before {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #5b6436;
    margin-right: 8px;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: var(--color-inchworm);
    padding: 96px 213px;
    min-height: auto;
}
.banner_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--second-family);
    font-weight: 700;
    letter-spacing: -2.5px;
    font-size: 100px;
    line-height: 100%;
    color: var(--color-dark);
    margin-bottom: 24px;
}
.banner_info {
    margin-inline: auto;
    font-family: var(--font-family);
    font-weight: 400;
    align-items: center;
    text-align: center;
    column-gap: 24px;
    font-size: 24px;
    line-height: 34px;
    color: #5b6436d9;
}
.banner_accent {
    color: var(--color-dark);
}

.banner_actions {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    justify-content: center;
    margin-bottom: 16px;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.banner_button-primary {
    background-color: var(--color-button);
    width: 260px;
    height: 66px;
    justify-content: center;
    padding: 20px 42px;
    color: var(--color-light);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.banner_button-secondary {
    background-color: transparent;
    border: 1px solid var(--color-gray);
    width: 260px;
    height: 66px;
    justify-content: center;
    padding: 20px 42px;
    color: var(--color-dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}
.banner_note {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gray);
}

.banner-img {
    display: flex;
    background-color: var(--color-inchworm);
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.shadow-img-box {
    max-width: 1200px;
    height: auto;
    padding: 8px;
    border-radius: 16px;
    background: linear-gradient(
        168deg,
        rgba(255, 255, 255, 0.61) 0%,
        rgba(0, 0, 0, 0.19) 100%
    );
    box-shadow: 0 5px 56px 0 rgba(100, 114, 50, 0.24);
}
.banner-img_banner {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 9px;
    position: relative;
    justify-content: center;
    align-items: center;
}
.company-types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-inchworm);
    height: auto;
    width: 100%;
}

.company-types-title {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 0.9;
    margin-top: 100px;
    color: #5b6436;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.company-types-list {
    padding-top: 48px;
    display: grid;
    align-items: center;
    width: 80%;
    grid-template-columns: repeat(6, 1fr);
}

.company-types-item {
    border-radius: 4px;
    aspect-ratio: 1/1;
    border: 1px solid #c6df5d;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.company-types-logo {
    display: block;
    align-items: center;
    width: auto;
    height: auto;
    object-fit: contain;
}

.work_happens {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    height: 992px;
    width: 100%;
}

.work_happens_card {
    display: flex;
    align-items: center;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    max-width: 600px;
}
.work_happens_title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 80px;
    line-height: 100%;
    color: var(--color-light);
    text-align: center;
}

.work_happens_info {
    color: var(--color-gray);
    font-family: var(--font-family);
    font-size: 19px;
    text-align: center;
    font-weight: 400;
    line-height: 146%;
}
.current_lets {
    align-items: center;
    padding: 96px 16px 120px;
    background-color: var(--color-dark);
    width: 100%;
}
.current_lets_inner {
    max-width: 1132px;
    margin: 0 auto;
}
.current_lets_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 19px;
    margin-bottom: 64px;
}
.current_lets_title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    color: var(--color-light);
    text-align: center;
}
.current_lets_info {
    color: var(--color-gray);
    font-family: var(--font-family);
    font-size: 19px;
    max-width: 600px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}

.current_lets_container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 20px;
}
.current_lets_container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 432px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #121212 100%);
    pointer-events: none;
    z-index: 1;
}

.current_lets_element {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.333% - 20px);
    background-color: var(--color-dark-accent);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.current_lets_img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.summarized {
    align-items: center;
    padding: 80px 263px;
    background-color: var(--color-dark);
    width: 100%;
}

.summarized_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.summarized_title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 67px;
    line-height: 1.2;
    color: var(--color-light);
    text-align: center;
}

.summarized_info {
    color: var(--color-gray);
    font-family: var(--font-family);
    font-size: 19px;
    max-width: 600px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}
.summarized_accent {
    color: #dedede;
}
.summarized_video {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.watch_video_btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 15px 6px 15px 50px;
    border-radius: 70px;
    border: 1px solid #333;
    background: transparent;
    font-family: var(--font-family);
    cursor: pointer;
}
.button_text {
    font-weight: 400;
    color: var(--color-light);
    line-height: 24px;
    font-size: 19px;
    line-height: 1.3;
}

.watch_video_icon svg {
    display: block;
}
@media (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        padding-top: 20px;
        row-gap: 20px;
        padding-inline: 15px;
    }

    .header_menu {
        order: 1;
        flex-basis: 100%;
    }

    .header-menu-link {
        height: 40px;
    }

    .banner {
        padding: 100px 60px 30px 60px;
        min-height: auto;
    }
    .banner_title {
        font-size: 80px;
        line-height: 100%;
    }
    .banner_info {
        font-size: 18px;
    }
    .banner_note {
        font-size: 15px;
    }
    .company-types-list {
        grid-template-columns: repeat(3, 1fr);
        width: 60%;
    }
    .company-types-title {
        font-size: 15px;
    }
    .work_happens {
        height: 700px;
    }
    .work_happens_title {
        font-size: 48px;
    }
    .work_happens_info {
        font-size: 18px;
    }
    .current_lets_title {
        font-size: 48px;
        line-height: 1;
    }
    .current_lets_info {
        font-size: 18px;
        line-height: 1.5;
    }
}
@media (max-width: 768px) {
    .button {
        padding-inline: 18px;
    }
    .header {
        padding-top: 10px;
        row-gap: 30px;
    }

    .header-menu-list {
        column-gap: 50px;
        row-gap: 10px;
    }

    .header-menu-link {
        height: 30px;
    }
    .header-actions {
        gap: 10px;
    }
    .banner {
        padding: 100px 90px 30px 90px;
        min-height: auto;
    }
    .banner_title {
        font-size: 70px;
        line-height: 100%;
    }
    .banner_info {
        font-size: 17px;
        line-height: 34px;
        color: #5b6436d9;
    }
    .banner_note {
        font-size: 13px;
    }
    .banner_actions {
        margin-top: 25px;
        justify-content: center;
        margin-bottom: 15px;
        align-items: center;
        text-align: center;
        gap: 16px;
        flex-wrap: wrap;
    }
    .banner_button-primary,
    .banner_button-secondary {
        width: 200px;
        height: 46px;
        font-size: 18px;
    }
    .company-types-list {
        grid-template-columns: repeat(2, 1fr);
        width: 40%;
    }
    .company-types-title {
        font-size: 14px;
    }
    .work_happens {
        height: 500px;
    }

    .work_happens_title {
        font-size: 37px;
    }
    .work_happens_info {
        font-size: 17px;
    }
    .current_lets_title {
        font-size: 37px;
        line-height: 1;
    }
    .current_lets_info {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media (max-width: 565px) {
    .banner {
        padding: 100px 30px 30px 30px;
        min-height: auto;
    }
    .banner_title {
        font-size: 30px;
        line-height: 40px;
    }
    .banner_note {
        font-size: 12px;
    }
    .work_happens {
        height: 300px;
    }
    .company-types-list {
        grid-template-columns: repeat(1, 1fr);
        width: 30%;
    }
    .company-types-title {
        font-size: 13px;
    }
    .current_lets_title {
        font-size: 30px;
        line-height: 1;
    }
    .current_lets_info {
        font-size: 13px;
        line-height: 1.5;
    }
}
